@font-face {
  font-display: swap;
  font-family: 'Teko';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('@/assets/fonts/teko-700.woff2') format('woff2'),
       url('@/assets/fonts/teko-700.woff') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('@/assets/fonts/work-sans-300.woff2') format('woff2'),
       url('@/assets/fonts/work-sans-300.woff') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('@/assets/fonts/work-sans-700.woff2') format('woff2'),
       url('@/assets/fonts/work-sans-700.woff') format('woff2');
}
