// Colors

// Color variables
$black:       #000000;
$black-text:  #03051a;
$dark-gray:   #272727;
$gray:        #747474;
$green:       #14a76c;
$orange:      #ff652f;
$yellow:      #ffe400;
$white:       #ffffff;

// Color reused variables
$contrast: $dark-gray;
$contrast-light: $gray;
$primary: $yellow;
$secondary: $green;
$text: $black-text;
$third: $orange;
